[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = false

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
sqlalchemy = "*"
pymysql = "*"
faker = "*"
ipython = "*"
neo4j = "==4.0.0a1"
neomodel = "==4.0.1"
flask-sqlalchemy = "==2.4.1"
incremental = "*"

[requires]
python_version = "3.6"
